<div class="flex h-screen">
  <!-- Partie gauche -->
  <div class="w-1/5 bg-[#0D2538] relative flex flex-col justify-between items-center p-8 overflow-hidden">
    <!-- Logo watermark -->
    <img src="/assets/oga1.png" alt="Watermark Logo" class="absolute opacity-10 scale-[2.5] top-1/4" />
    <!-- Deuxième Logo watermark -->
  <img src="/assets/oga2.png" alt="Second Watermark Logo" class="absolute opacity-10 scale-[1.5] top-2/4" />

    <!-- Bienvenue text -->
    <h1 class="z-10 text-white text-2xl font-bold mt-12 text-center">Bienvenue</h1>

    <!-- Footer -->
    <p class="z-10 text-white text-xs mb-4">© 2025 One Gate Africa</p>
  </div>

  <!-- Partie droite -->
  <div class="w-4/5 flex flex-col justify-center items-center p-10 bg-white">
    <!-- Logo -->
    <img src="/assets/oga.png" alt="One Gate Africa" class="h-50 mb-10" />

    <!-- Se connecter -->
    <h2 class="text-3xl font-bold text-[#0D2538] mb-8">Se connecter</h2>

    <!-- Formulaire -->
    <form class="w-full max-w-md space-y-6">
      <div>
        <label class="block text-sm text-gray-600 mb-2">Email</label>
        <input type="email" placeholder="Email"
          class="w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400" />
      </div>

      <div>
        <label class="block text-sm text-gray-600 mb-2">Mot de passe</label>
        <input type="password" placeholder="Mot de passe"
          class="w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400" />
      </div>

      <button type="submit"
        class="w-full py-3 bg-[#0D2538] text-white rounded-lg hover:bg-[#1a3950] transition font-semibold">
        Se connecter
      </button>
    </form>

    <div class="mt-6">
      <a routerLink="/reset-password" class="text-sm text-gray-500 hover:underline">Mot de passe oublié ?</a>

    </div>
  </div>
</div>
