<!-- Layout Auth (Login, Reset) : PAS de sidebar -->
<ng-container *ngIf="isAuthPage()">
  <router-outlet></router-outlet>
</ng-container>

<!-- Layout Admin -->
<ng-container *ngIf="isAdminPage()">
  <div class="flex h-screen overflow-hidden">
    <app-admin-sidebar></app-admin-sidebar>
    <div class="flex-1 overflow-y-auto bg-gray-50">
      <router-outlet></router-outlet>
    </div>
  </div>
</ng-container>

<!-- Layout Utilisateur -->
<ng-container *ngIf="isUserPage()">
  <div class="flex h-screen overflow-hidden">
    <app-sidebar></app-sidebar>
    <div class="flex-1 overflow-y-auto bg-gray-50">
      <router-outlet></router-outlet>
    </div>
  </div>
</ng-container>
